
@{
    ViewBag.Title = "Index";
}

<section class="breadcrumb-area breadcrumb-bg" data-background="/assets/img/bg/breadcrumb_bg.jpg">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb-content">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Album</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="top-rated-movie tr-movie-bg" data-background="/assets/img/bg/tr_movies_bg.jpg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section-title text-center mb-50">
                    <span class="sub-title">ONLINE STREAMING</span>
                    <h2 class="title">Top Trailer Movies</h2>
                </div>
            </div>
        </div>
        <div class="row renderProduct">
           @* render product *@
        </div>
        <div class="row">
            <div class="col-12">
                <div class="pagination-wrap mt-30">
                    <nav>
                        <ul>
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">Next</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts{ 
    <script>
        const saveStorage = (name,obj) => {
            if (!obj) return;
            localStorage.setItem(name, JSON.stringify(obj))
        }
        const getStorage = (name) => {
            if (!name) return [];
            return JSON.parse(localStorage.getItem(name))
        }
        $(".AddToCart").click((e) => {
            var id = e.target.dataset.id
            var name = e.target.dataset.name
            const cartList = getStorage("cart")
            if (!cartList || cartList.length === 0) {
                saveStorage("cart", [{ id, name, quantity: 1 }])
                return;
            }
            const index = cartList.findIndex(cart => cart.id === id)
            if (index === -1) {
                saveStorage("cart", [...cartList, { id, name, quantity: 1 }])
                return;
            }
            cartList[index].quantity = cartList[index].quantity+1
            saveStorage("cart", [...cartList])
        })   

        $.ajax("https://localhost:44351/Album/getAll").done((res) => {

            console.log(res)
            const html = res.map(item => {
                return `<div class="col-xl-3 col-lg-4 col-sm-6 grid-item grid-sizer cat-one cat-three" >
                        <div class="movie-item mb-60">
                            <div class="movie-poster">
                                <a href="/detail/${item.Code}"><img src="${item.Image}" alt=""></a>
                            </div>
                            <div class="movie-content">
                                <div class="top">
                                    <h5 class="title"><a href="movie-details.html">${item.Name}</a></h5>
                                    <span class="date">2021</span>
                                </div>
                                <div class="bottom">
                                    <ul>
                                       <li><span data-id="${item.Code}" data-name="${item.Name}" class="quality AddToCart">Add to cart</span></li>
                                        <li>
                                            <span class="duration"><i class="far fa-clock"></i> 128 min</span>
                                            <span class="rating"><i class="fas fa-thumbs-up"></i> 3.9</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>`
            })
            $(".renderProduct").html(html)
        })

    </script>
    }

