
@{
    ViewBag.Title = "Index";
}

<section class="breadcrumb-area breadcrumb-bg" data-background="/assets/img/bg/breadcrumb_bg.jpg">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb-content">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Cart</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- contact-area -->
<section class="contact-area contact-bg" data-background="/assets/img/bg/contact_bg.jpg">
    <div class="container">
        <h3 class="text-center mb-5">Cart</h3>
        <div class="row renderCart">
            <!-- render cart -->
        </div>
        <div class="row">
            <div class="col-sm-12 ">
                <div class="border-top my-5"></div>
                <p class="mb-5 f-500">Total Price: <span class="cart_totalPrice"></span>$</p>
                <button class="btn button ">Check out</button>
            </div>
        </div>
    </div>
</section>

@section Scripts{
    <script>
        const getStorage = (name) => {
            if (!name) return [];
            return JSON.parse(localStorage.getItem(name))
        }
        const saveStorage = (name, obj) => {
            if (!obj) return;
            localStorage.setItem(name, JSON.stringify(obj))
        }
        const cartList = getStorage("cart")

        const renderCart = (cartList) => {
            const listCartHtml = cartList.map(cart => {
                return `
             <div class="col-sm-12">
                <div class="blog-post-item cart_wrapCart  p-3 d-flex align-items-center justify-content-between">
                    <img src="https://i.scdn.co/image/ab67616d0000b27362bcda6daa9c3d4c76901ba9" class="cart_image" alt="cart" />
                    <h4>${cart.name}</h4>
                    <input value="${cart.quantity}" type="number" class="cart_inputQuantity" />
                    <h4>100$</h4>
                   <button data-id="${cart.id}" class="btn cart_deleteBtn">Delete</button>
                </div>
            </div>
             `
            })
            if (listCartHtml.length===0 || !listCartHtml) {
                $(".renderCart").html('<h2>Không có sản phẩm trong giỏ hàng</h2>')
                return;
            }
            $(".cart_totalPrice").html("10020");
            $(".renderCart").html(listCartHtml.join(""))
        }

        renderCart(cartList)
        $(".cart_deleteBtn").click((e) => {
            const carts = getStorage("cart")
            const newCarts = carts.filter(cart=>cart.id!==e.target.dataset.id)
            saveStorage("cart", newCarts);
            renderCart(newCarts)
        })
       
    </script>
} 