
@{
    ViewBag.Title = "Index";
}

<section class="breadcrumb-area breadcrumb-bg" data-background="/assets/img/bg/breadcrumb_bg.jpg">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb-content">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Login</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- contact-area -->
<section class="contact-area contact-bg" data-background="/assets/img/bg/contact_bg.jpg">
    <div class="container">
        <div class="row">
           <div class="col-sm-12">
               <div class="cart_wrapCart p-3 d-flex align-items-center">
                   <img src="https://i.scdn.co/image/ab67616d0000b27362bcda6daa9c3d4c76901ba9" class="cart_image" alt="cart" />
                   <p class="text-dark font">Quantity: 2</p>
                   <h2>Album Chi Pu</h2>
               </div>
           </div>
        </div>
    </div>
</section>